<h2>Thank you</h2>
<p>Your report has been successfully submitted. To get more information, please visit my <a href="https://github.com/ston1x/chisinau-air-quality" target="blank">GitHub</a> repository</p>
<p>or go <%= link_to('back', routes.path(:root)) %></p>
<p>or do whatever you want, I don't insist on you doing something.</p>
